<div class="center">
  <div class="center ribbon">
    <h1>CRUD App</h1>
    <h2>
      Matt Lee's CMM Interview
    </h2>  
  </div>
  <%= link_to "Create User", users_new_path, class: "btn btn-lg btn-primary button-create" %>  
</div>
