<li id="task_entry-<%= task_entry.id %>">
    <span class="task_entry_name">
        <a href="/task_entries/<%= task_entry.id %>">
            <%= task_entry.note %>
            Duration: <%= task_entry.duration%>
        </a>
    </span>
</li>