<% provide(:title, 'Tasks') %>
<div class="container resources-container">
  <h1>Tasks</h1>
  <%= render 'shared/paginate', :@profile => @tasks%>
    <ul class="resources">
      <% @tasks.each do |task| %>
        <li>
          <%= link_to task.task_name, task %>
        </li>
      <% end %>
    </ul>
  <%= render 'shared/paginate', :@profile => @tasks%>
  <div class="center">
    <%= link_to "Create Task", new_task_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
