<% provide(:title, 'All Users') %>
<h1>All Users</h1>

<ul class="resources">
  <% @users.each do |user| %>
    <%= render @user %>
  <% end %>
</ul>

<%= link_to "Create User", users_new_path, class: "btn btn-lg btn-primary" %>