<% provide(:title, 'All Customers') %>
<h1>All Customers</h1>

<ul class="resources">
  <% @customers.each do |customer| %>
    <li>
      <%= link_to customer.company, customer %>
    </li>
  <% end %>
</ul>

<%= link_to "Create Customer", customers_new_path, class: "btn btn-lg btn-primary" %>