<% provide(:title, 'Projects') %>
<div class="container resources-container">
  <h1>Projects</h1>
  <%= render 'shared/paginate', :@profile => @projects%>
    <ul class="resources">
      <% @projects.each do |project| %>
        <li> 
          <%= link_to project.project_name, project %>
        </li>
      <% end %>
    </ul>
  <%= render 'shared/paginate', :@profile => @projects%>
  <div class="center">
    <%= link_to "Create Project", new_project_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>