.resources-container {
  position: relative;
  height: 90vh;
  position: relative;
}

.resources {
  padding: 0 5% 5% 5%;
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    padding-left: 5%;
  }
}

/* forms */
.resource-container {
  text-align: center;
  .resource-info {
    display: inline-block;
    text-align: left;
  }
  ul {
    list-style-type: none;
  }
}

input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  height: auto !important;
}

.button-create {
  min-width: 20%;
  padding: 0.5em 1em;
}

.form-select,
.form-button-create {
  margin-top: 1em;
}

.relationship-button-create {
  margin-top: 1em;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.sm {
  max-width: 10em;
}

/* partials */

.partial-customers,
.partial-projects,
.partial-tasks,
.partial-task_entries {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

#login-sm {
  margin-top: 1em;
  display: block;
}
